PRIORITY: Migrate Off Raknet

As it says on the tin. Currently we are developing a usrsctp backend which is intended to replace the Raknet core.

This is a large project that will take quite a while, so it's being tracked under this stub issue for now.

> Currently we are developing a usrsctp backend which is intended to replace the Raknet core.

FWIW it isn't usrsctp, but just an implementation of SCTP over UDP as defined by the IETF spec sheets. If big changes end up happening where it wouldn't be feasible to roll our own, we'll have to settle for usrsctp, but I would prefer to avoid it for now given the lack of documentation for parts of it and the fact that it doesn't quite work as intended on Windows.

Currently still drafting implementations of the types defined by RFC 9260. I have most of the things defined by RFC 6458 down (just types and function declarations, no actual code definitions yet) and once I'm done with that, I will probably be looking into RFC 6951 next. There are also several more minor references to other RFCs in RFC 9260 that I need to read, but most of them seem fairly simple (i.e., how to calculate certain checksums, certain bits of math, et cetera). Once I have all the types down I will upload my work to a repo (whether it should be under me directly or part of the org is something I'm not sure of yet) so that it can start to be reviewed and I can hash out larger parts of the design.

Lastly, related issue: https://github.com/DreamWeave-MP/Dreamweave-server/issues/2